.head_bg{
    height:25%;
    background:url(/img/other/tixian.png?v=201805241);
    background-size:100% 100%;
}
.input_number{
    font-weight: lighter;
    font-size: 0.8rem;
    border:2px solid #c1c1c1;
    outline:none;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius:5px;
    width: 30%;
    color: #ff7200;
    vertical-align: unset;
}
.code_bg{
    background-color: #30c0a4;
    border: 0;
    border-radius:5px;
    font-size: 0.7rem;
    padding: 5px 3px 5px 5px;
    color: white;
    margin-bottom: 3px;
    width: 70px;
}
.search_bg{
    background-color: #2dbba7;
    border: 0;
    border-radius:5px;
    font-size: 1rem;
    padding: 10px 15px 10px 15px;
    color: white;
    margin-top: 10px;
}