html,body{height:100%;} 
.bg {
           width:100%;
           height:100%;
           display:-webkit-flex; 
           -webkit-flex-direction:column;
           background:url(../img/bj.jpg);
            background-size:100% 100%;
       }
       .title {
           width:100%;
           font-size:20px;
           color:yellow;
       }
       .title-div {
            width:100%;
           font-size:16px;
           color:#58dbfb;
           background-color:#022a4c;
       }
       .div-flat {
            width:33.3%;
            float:left;
       }
       .download-flat {
            width:50%;
            float:left;
       }
       .height-div {
           
           height:10px;
          
       }
span {
        display: inline-block;
        min-width: 10px;
        padding-top:2px;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
        text-align:center;
        width:70px;
}
p {
    font-size:14px;
    font-size:1.4rem;
    color:yellow;
}
.div-img {
    border:3px solid #B8860B;
}

