body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
    font-family: sans-serif;
    margin: 0;
}
.share_head_bg {
   width:100%;
    height: 45%;
   display:-webkit-flex;
   -webkit-flex-direction:column;
   background:url(/img/share/head.png);
    background-size:100% 100%;
}
.share_body_bg {
    width:100%;
    height: 25%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/share/body.png);
    background-size:100% 100%;
}
.share_foor_bg {
    width:100%;
    height: 30%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/share/foor.png);
    background-size:100% 100%;
}
.download_bg {
    width:100%;
    height:100%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/download/download_bg.png);
    background-size:100% 100%;
}
.qrcode_bg {
    width:100%;
    height:100%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/qrcode/qrcode_bg.jpg?v=201805221);
    background-size:100% 100%;
}
.font_bg{
    height:100%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/qrcode/font_bg.png);
    background-size:100% 100%;
}
.desk_bg{
    width:68%;
    height:100%;
    margin: 0 0 0 15%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/share/desk.png) no-repeat center center;
    background-size:100% 100%;
    color:white;
}
.buy_head_bg{
    width:100%;
    height:30%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/diamond/query_head.png);
    background-size:100% 100%;
}
.buy_bg{
    width:100%;
    height:70%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/diamond/query_bg.png?v=20180515);
    background-size:100% 100%;
}
.warning{
    width:100%;
    height:100%;
    display:-webkit-flex;
    -webkit-flex-direction:column;
    background:url(/img/agent.png);
    background-size:100% 100%;
}
.buy_input{
    border: 0px;
    outline:none;
    cursor: pointer;
    width: 100px;
    font-size: 0.9rem;
    color: #bf4502;
    padding: 5px 5px 0 5px;
    background-color: white;
    border-radius:5px;
}
.front_input{
    border: 0px;
    outline:none;
    cursor: pointer;
    width: 100px;
    font-size: 0.9rem;
    color: #bf4502;
    border-radius: 5px;
    padding: 5px 5px 0 5px;
}
.front_input_red{
    border: 0px;
    outline:none;
    cursor: pointer;
    width: 120px;
    font-size: 0.9rem;
    margin-left: 45%;
    color: #0f695f;
    background-color: transparent;
}
.buy_nick{
    color: #bf4502;
    font-size: 0.9rem;
}
.img_border{
    border-radius: 6px;
    padding: 3px 3px 3px 3px;
}
.img_border_select{
    border-radius: 6px;
    border: 3px solid #ffd800;
}
span {
        display: inline-block;
        min-width: 10px;
        padding-top:2px;
        line-height: 1;
        white-space: nowrap;
        vertical-align: baseline;
        text-align:center;
        width:160px;
}

